# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env*.local
.env.production
.env.development

# Build outputs
dist/
build/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma & Database
*.sqlite
*.sqlite-journal

# Turbo / Cache
.turbo/
.cache/
